* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: 'poppins', Comic Sans MS;
}

:root {
	-bg-color: #052659;
	-second-bg-color: #021024;
	-text-color: #C1E8FF;
	-main-color: #00ccff;
}

html {
	font-size: 62.5%;
	overflow: hidden;
}

body {
	background: #052659;
	color: #C1E8FF;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 2rem 9%;
	background: transparent;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2.5rem;
	color: #C1E8FF;
	font-weight: 600;
}

.navbar a {
	font-size: 1.7rem;
	color: #C1E8FF;
	font-weight: 500;
	margin-left: 3.5rem;
	transition: .3s;
}

.navbar a:hover,
.navbar a.active {
	color: #00ccff;
}

#menu-icon {
	font-size: 3.6rem;
	color: #C1E8FF;
	cursor: pointer;
	display: none;
}

section {
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

.home {
	display: flex;
	align-items: center;
	padding: 0 9%;
	background: url('image-6.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.home-content {
	max-width: 60rem;
}

.home-content h1 {
	font-size: 5.6rem;
	font-weight: 700;
	line-height: 1.3;
}

.home-content .text-animate {
	position: relative;
	width: 32.8rem;
}

.home-content .text-animate h3 {
	font-size: 3.2rem;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: .9px #00ccff;
}

.home-content p {
	font-size: 1.6rem;
	margin: 2rem 0 4rem;
}

.btn-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 34.5rem;
	height: 5rem;
}

.btn-box .btn {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 100%;
	background: #00ccff;
	border: .2rem solid #00ccff;
	border-radius: .8rem;
	font-size: 1.8rem;
	font-weight: 600;
	letter-spacing: .1rem;
	color: #052659;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}

.btn-box .btn:hover {
	color: #00ccff;
}

.btn-box .btn:nth-child(2) {
	background: transparent;
	color: #00ccff;
}

.btn-box .btn:nth-child(2):hover {
	color: #052659;
}

.btn-box .btn:nth-child(2)::before {
	background: #00ccff;
}

.btn-box .btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #052659;
	z-index: -1;
	transition: .5s;
}

.btn-box .btn:hover:before {
	width: 100%;
}

.home-sci {
	position: absolute;
	bottom: 4rem;
	width: 170px;
	display: flex;
	justify-content: space-between;
}

.home-sci a {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	background: transparent;
	border: .2rem solid #00ccff;
	border-radius: 50%;
	font-size: 20%;
	color: #00ccff;
	z-index: 1;
	overflow: hidden;
}

.home-sci a:hover {
	color: #052659;
}

.home-sci a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: #00ccff;
	z-index: -1;
	transition: .5s;
}

.home-sci a:hover:before {
	width: 100%;
}

.about {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	gap: 2rem;
	background: url('image-6.jpg');
	padding-bottom: 6rem;
}

.heading {
	font-size: 5rem;
	margin-bottom: 3rem;
	text-align: center;
}

span {
	color: #00ccff;
}

.about-img {
	position: relative;
	width: 25rem;
	height: 25rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-img img {
	width: 90%;
	border-radius: 50%;
	border: .2rem solid #00ccff;
}

.about-img .circle-spin {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate (-50%, -50%) rotate(0);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border-top: .2rem solid #052659;
	border-bottom: .2rem solid #052659;
	border-left: .2rem solid;
	border-right: .2rem solid;
}

.main-container {
	width: 1200px;
	margin: 0 auto;
}

#portfolio {
	padding: 6rem 0;
}

.portfolio {
	border-radius:;
	overflow: hidden;
	border: 1px solid #f2f2f2;
}

.portfolio-cover {
	height: 250px;
}

.portfolio-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.portfolio-info {
	padding: 2rem 1.5rem; 
	justify-content: space-between;
	align-content: center;
	gap: 1rem;
}

.portfolio h4 {
	font-weight: 500;
	font-size: 1.05rem;
}

.portfolio-tags {
	display: flex;
	gap: 1rem;
	margin: 1rem 0;
}

.portfolio-tags div {
	font-size: .9rem;
	border: 1px solid #f4f4f4;
	padding: .4rem 1rem;
	color: #f7f7f7;
}

/* title */

.pre-title {
	text-transfrom: uppercase;
	letter-spacing: 0.5rem;
	color: white;
	position: relative;
	padding-left: 40px;
	width: fit-content;
	font-weight: 400;
	font-size: 0.9rem;
}

.pre-title::before {
	content: "";
	width: 30px;
	height: 1px;
	background: #f1f1f1;
	position: absolute;
	display: block;
	left: 0;
	top: 50%;
}

/* layout */

.grid-3 {
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(28px), 1fr);
	gap: 2rem;
}