*,
html {
	padding: 0;
	margin:0 ;
}

.container check:nth-child(2) {
	width: 100%;
	height: 100vh;
	background-color: gray ;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buy {
background-color: black ;
width: 110px;
height: 60px;
border-radius: 200px;
transform: translatex(-100px);
}

.button: {
	background-color: green;
	width: 100px;
	height: 50px;
	border-radius: 200px;
	transition: 0.3s;
}

.button:before {
	position: absolute;
	content: '';
	background-color: white;
	width: 45px;
	height: 45px;
	border-radius: 200px;
	margin: 2.5px;
	transition: 0.2s;
}

input:checked + .button {
	background-color: yellow ;
}

input:checked + .button::before {
	transform: translatex(50px);
}

input {
	display: none;
}